UserName: <input type="text" placeholder="Enter Your Name" [(ngModel)]="name"><br>
Password: <input type="password" id="" placeholder="Password" ><br>
Password: <input type="password" id="" placeholder="Re Enter Password" [(ngModel)]="password" ><br>
Mobile No: <input type="text" placeholder="Enter Mobile No." [(ngModel)]="mobile"><br>
Email Id: <input type="text" placeholder="Enter Your Email" [(ngModel)]="email"><br>

<button (click)="register()">Register</button><br>
<button (click)="app.whatToShow=1">Login</button>



